@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');



:root {
  --color-background-grey: #F2F4F8; /* Main background */
  --color-grey: #697077; 
  --color-dark-grey: #4B5563;
  --color-white: #FFFFFF;
  --color-light-grey: #C1C7CD;
  --color-black: #000000;
  --color-blue: #0F62FE;
  --primary-font: "IBM+Plex+Mono", "Courier New", Courier, monospace;
  --secondary-font: "Roboto";
}
